<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Polarity vs Subjectivity in Sports</title>
    <h3 style="text-align:center; font-family:Arial; font-size:30px"><b>Polarity vs Subjectivity in Sports</b> </h3>
</head>
<body>
<form action="Home.html">

    <input type = "button" style =
            "font-size:20px; float; border-radius:8px; background-color:skyblue; position:absolute; center:5%"
           value="Home"
           onclick="history.back()"
           align="bottom">
</form>
<div class="text-white">
</div>
<div id="heatmap" class="heatmap"></div>
</body>
   <script>
      var heatmap = {{heatmapJSON | safe}};
      Plotly.plot('heatmap',heatmap,{});
   </script>
</html>
