<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="UTF-8">
    <title>Labor vs Liberal 2022 Prediction</title>
    <h3 style="text-align:center; font-family:Arial; font-size:30px"><b>Labor vs Liberal 2022 Prediction</b> </h3>
</head>
<body>
<form action="Home.html">
    <input type = "button" style =
            "font-size:20px; float; border-radius:8px; background-color:skyblue; position:absolute; center:5%;"
           value="Home"
           onclick="history.back()"
           align="bottom"/>
</form>
<div id="piechart" class="piechart"></div>
<h3 style="text-align:center; font-family:Arial; font-size:30px"><b>Labor vs Liberal 2019 AURIN Data</b></h3>
<div id="piechart_2019" class="piechart_2019"></div>
</body>
   <ul>
   <li><script>
      var piechart = {{pieJSON | safe}};
      Plotly.plot('piechart',piechart,{});
   </script>
   </li>
   <li><script>
      var piechart_2019 = {{pieJSON2019 | safe}};
      Plotly.plot('piechart_2019', piechart_2019, {});
   </script>
   </li>
   </ul>
</html>
