<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>Home</title>
    <h3
            style="text-align:center; font-family:Arial; font-size:35px; background-color:skyblue;"><b>
        Melbourne- The Most
        Livable City? </b></h3>
    <link rel="stylesheet" type="text/css" href="/static/design.css>
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/fav.ico" sizes="64x64" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/sports.png" alt="Sports image cap">
      <div class="card-body">
      <h5 class="card-title">Sports</h5>
      <p class="card-text">Heat map illustrates that people are quite diplomatic in there view on sports topic.</p>
      <a href="/scenario1" class="btn btn-primary">Visualize Me</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/transport.png" alt="Transport image cap">
      <div class="card-body">
      <h5 class="card-title">Transport</h5>
      <p class="card-text">Bar graph illustrates that people of Melbourne have positive sentiment towards Train, Bus and traffic whereas they have negative sentiment towards Tram. Train is the most preferred mode of transport based on the sentiment.</p>
      <a href="/scenario2" class="btn btn-primary">Visualize Me</a>
    </div>
</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/static/income.png" alt="Income image cap">
  <div class="card-body">
    <h5 class="card-title">Income</h5>
    <p class="card-text">The line graph is used to see if there is a correlation between percentage of people in a region falling in the low income group with salary less than AUD 400 per week versus the polarity score of tweets from that region.</p>
    <a href="/scenario3" class="btn btn-primary">Visualize me</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/election.png" alt="Election image cap">
      <div class="card-body">
      <h5 class="card-title">Elections</h5>
      <p class="card-text">The pie chart is used for plotting votes for election in the race of Liberal versus Labor.</p>
     <a href="/scenario4" class="btn btn-primary">Visualize Me</a>
    </div>
   </div>
 </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/health.png" alt="Health image cap">
      <div class="card-body">
      <h5 class="card-title">Health</h5>
      <p class="card-text">Twin bar plot incontrovertibly expounds that Melbourne city has the highest number of GP’s per ten thousand people and thereby people are much more positive about health.</p>
      <a href="/scenario5" class="btn btn-primary">Visualize Me</a>
    </div>
   </div>
  </div>
 <div class="col">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/static/hashtags.png" alt="Hashtags image cap">
   <div class="card-body">
     <h5 class="card-title">Hashtags</h5>
      <p class="card-text">Eurovision seems to be the talk of melbourne in recent days.With keywords like Eurovision, ESC2022 and SBSEurovision popular on twitter.</p>
      <a href="/wordcloud" class="btn btn-primary">Visualize Me</a>
      </div>
     </div>
    </div>
  </div>
</div>
</body>
</html>
