<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hashtags</title>
    <h3 style="text-align:center; font-family:Arial; font-size:25px"><b>Trending Hashtags</b>
    </h3>
</head>
<body>

<form action="Home.html">
    <input type = "button" style ="font-size:20px; float; border-radius:8px; background-color:skyblue; position:absolute; center:5%;"
           value="Home"
           onclick="history.back()"
           align="bottom"/>

    <div class="col-md-6">
        <br><br>
        <img src = "{{ url_for('wordcloud_hashtags') }} alt = wordcloud"/>
    </div>

</form>
</body>
</html>
