<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>Home</title>
    <h3 style="text-align:center; font-family:Arial; font-size:30px"><b> Melbourne- The Most
        Livable City? </b></h3>
    <link rel="stylesheet" type="text/css" href="design.css">
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/fav.ico" sizes="64x64" />
</head>
<body>
<main>
    <div class = "div1">Scenario 1</div>
    <div class = "div2">Scenario 2</div>
    <div class = "div3">Scenario 3</div>
    <div class= "div4">Scenario 4</div>
    <div class = "div5">Scenario 5</div>
    <div class = "div6">Scenario 6</div>
</main>

</body>
</html>
