<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sports heatmap</title>
    <h3
            style="text-align:center; font-family:Arial; font-size:25px"><b>Favourite Sports HeatMap</b></h3>
</head>
<body>
<form action="Home.html">

    <input type = "button" style =
            "font-size:20px; float; border-radius:8px; background-color:skyblue; position:absolute; center:5%"
           value="Home"
           onclick="history.back()"
           align="bottom"></form>

    <div style="width: 100%;">
        <div style="width: 50%; float: left">
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <div id="fe871eb9-b516-4575-8ce0-6116d52c7229" class="plotly-graph-div" style="height:800px; width:900px;"></div>
            <div style="margin-left: 50%">
                <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <div id="a148bd6e-da2a-4260-b1a5-94f96e8de9f3" class="plotly-graph-div" style="height:800px; width:800px;"></div>
            </div>
        </div>
    </div>


</body>
</html>
